[data-type01="normal"],
[data-type02="normal"] {
  background: #a7a779;
}
[data-type01="fire"],
[data-type02="fire"] {
  background: #f08032;
}
[data-type01="water"],
[data-type02="water"] {
  background: #6492f4;
}
[data-type01="electric"],
[data-type02="electric"] {
  background: #f6d12c;
}
[data-type01="grass"],
[data-type02="grass"] {
  background: #7dca5b;
}
[data-type01="ice"],
[data-type02="ice"] {
  background: #97d9d7;
}
[data-type01="fighting"],
[data-type02="fighting"] {
  background: #c12f27;
}
[data-type01="poison"],
[data-type02="poison"] {
  background: #a33ea4;
}
[data-type01="ground"],
[data-type02="ground"] {
  background: #e2be66;
}
[data-type01="flying"],
[data-type02="flying"] {
  background: #a88ff3;
}
[data-type01="psychic"],
[data-type02="psychic"] {
  background: #f85588;
}
[data-type01="bug"],
[data-type02="bug"] {
  background: #c2d04c;
}
[data-type01="rock"],
[data-type02="rock"] {
  background: #b6a038;
}
[data-type01="ghost"],
[data-type02="ghost"] {
  background: #735797;
}
[data-type01="dragon"],
[data-type02="dragon"] {
  background: #6d36fd;
}
[data-type01="dark"],
[data-type02="dark"] {
  background: #705749;
}
[data-type01="steel"],
[data-type02="steel"] {
  background: #b7b8ce;
}
[data-type01="fairy"],
[data-type02="fairy"] {
  background: #fdaffb;
}
